/* ---------------aplicar fuente de google fonts ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mohave:wght@300&family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;600&family=Oswald:wght@500&display=swap');
/* ---------------selector universal, estilos básicos, box-sizing estilo de caja---------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------aplicamos la fuente al cuerpo ---------------- */
body{
    font-family: 'Open Sans', sans-serif;
}

/*Menu pegado utilizar position fixed, z-index para que este por delante de los elementos*/
header{
    width: 100%;
    height: 50px;
    background: rgba(255, 234, 49, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* ---------------Formato del container del header---------------- */
.container{
    width: 94%;
    margin: auto;
}

/* ---------------Formato del logo---------------- */
#logo {
   width: 120px;
   height: 65px;
   float: left;
   padding: 8px;
}

/* ---------------Limpia los floats--------------- */
header .container{
    display:table;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;

}

/* ---------------Estilo del menu en el header--------------- */
#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 15px 5;
    cursor: pointer;
}
.menuHup{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 0, 0, 0.9);
    transition: all 0.5s;
    transform: translate(-100%);
    border-radius: 01em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.menuHup a{
    display: block;
    color: #3e3e3e;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgb(24, 20, 20);
    border-radius: 01em;
}
.menuHup a:hover{
    background: rgba(255, 255, 255, 0.8);
}
#menu-bar:checked ~ .menuHup{
    transform: translateX(0%);

}

/* ---------------Responsive--------------- */
@media (min-width: 1024px){
    .menuHup{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menuHup a{
        border: none;
    }
    header label {
        display: none;
    }
}
img{
    border-radius: 01em;
    
}

/* ---------------Estilos de los cuadros de peliculas--------------- */

#containerFilms{/**contenedor de card*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filmsGroup{
    box-shadow: 0 0 15px 0 black;
    background-color: #3B3A65;
    padding: 1em;
    margin: 1em;
    border-radius: 01em;
    max-width:140px;
    min-width: 240px;
    height: 420px;
    display: grid;
    grid-template-columns: 53% 47%;
    flex-basis: 30%;
    color: aliceblue;
    cursor: pointer;
    white-space: nowrap;
}



/*aside - menu derecho*/


